.game-card {
  cursor: pointer;
  border-radius: 15px !important;
  transition: transform 0.2s;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.game-card:hover {
  transform: scale(1.03);
}

.game-card .card-body {
  min-height: 120px;
}

.modal-content {
  border-radius: 15px;
}
