rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Function to verify auth check
    function isAuthenticated() {
      return request.auth != null;
    }

    // Media folder rules (matches your Firestore pattern)
    match /audio-recordings/{allPaths=**} {
      allow read, write: if isAuthenticated();
    }
  }
}